// Color Variables
$background-color: #f9f9f9;
$white-color: #ffffff;
$dark-grey: #333333;
$light-grey: #cccccc;
$red-color: red;
$dark-red-color: darkred;
$orange-color: #f39c12;
$error-color: red;


.register-container {
  height: 100vh;
  background-color: $background-color;
  .row{
    --bs-gutter-x:5rem;
  }
}

.register-box {
  background: $white-color;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  .register-title {
    font-weight: bold;
    color: $dark-grey;
    margin-bottom: 2rem;
  }

  .form-input {
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px solid $light-grey;

    &:focus {
      outline: none;
      border-color: $orange-color;
      box-shadow: 0 0 5px rgba(243, 156, 18, 0.5);
    }
  }

  .register-button {
    background-color: brown;
    color: $white-color;
    padding: 0.8rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: $dark-red-color;
    }

    &:focus {
      outline: none;
    }
  }


  .register-links {
    margin-top: 1rem;

    .login-link {
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  // Password error message
  .text-danger {
    color: $error-color;
  }
}