#root {
  text-align: center;
  --title-font-size: 16px;
  --title-font-family: Arial;
  --content-font-size: 11px;
  --content-font-family: Arial;
}

.title {
  font-size: var(--title-font-size);
  font-family: var(--title-font-family);
}

.content {
  font-size: var(--content-font-size);
  font-family: var(--content-font-family);
}

.logo {
  height: 1em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
